.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexbox-item {
    border: 3px solid;
    padding: 10px;
    margin: 1opx;
}

#flexbox-0 {
    background-color: #d6b4ff;
    color: white;
}

#flexbox-1 {
    background-color: #d6b4ff;
    color: white;
}

#flexbox-2 {
    background-color: #d6b4ff;
    color: white;
    width: 50%;
}

#flexbox-3 {
    background-color: #d6b4ff;
    color: white;
    width: 50%;
}

body {
    background-color: black;
    color: white;
}

.flexbox-container-1 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    min-height: 700px;
}
